.close {
    @include no-style;
    @include no-mg-pd;
    color: $neutral;
    cursor: pointer;
    &:hover {
        font-weight: 900;
    }
}

.next {
    background-color: $success;
    border: 2px solid $success;
    border-radius: 5px;
    font-size: $value;
    line-height: ($value*3)/2;
    padding: $value/2;
    width: 25%;
    text-align: center;
    @include button;
    @include no-style;
    color: $neutral;
    cursor: pointer;
        &-first {
            margin: $value auto;
            width: 50%;
        }
    & a {
        @include button;
        @include no-style;
        color: $neutral;
        &:hover {
            font-weight: 700;
        }
    }
}
.prev {
    border: 2px solid $success;
    border-radius: 5px;
    font-size: $value;
    line-height: ($value*3)/2;
    padding: $value/2;
    width: 25%;
    cursor: pointer;

    & a {
        @include button;
        @include no-style;
        color: $success;
        &:hover {
            font-weight: 700;
        }
    }
    
}


.understand {
    background-color: $success;
    border-radius: 5px;
    font-size: $value;
    line-height: ($value*3)/2;
    padding: $value/2;
    width: 60%;
    text-align: center;
    display: inline-block;
    & a {
        @include button;
        @include no-style;
        color: $neutral;
    }
}

.big {
    width: 100%;
}

.small {
    font-size: $value*0.8;
}

.login {
    margin: $value 0 $value*4 0;
    display: flex;
    align-items: baseline;
    justify-content: center;
    & a {
        color: $success;
        @include no-style;
        font-weight: 400;
        // background-color: $success;
        // padding: $value/2;
        border-radius: 5px;
        font-size: $value;
        margin-left: $value/3;
        text-decoration: underline;
        cursor: pointer;
        &:hover {
            font-weight: 900;
        }
    }
}

.back  {
    font-size: $value*0.8;
    font-weight: 300;
    color: $success;
    text-align: center;
    cursor: pointer;
    &:hover {
        font-weight: 700;
        text-decoration: underline;
    }
}
.forgot {
    margin-top: $value*2;
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: $value*0.8;
    & a {
        color: $success;
        text-decoration: underline;
    }
}