#calendar {
  width: 100%;
  margin: 1rem auto;
  background-color: $neutral; 
  border-left: 1px solid $light;
  border-right: 1px solid $light;
}

.slot-container {
  width: 100%;
  position: relative;

}
.slot {
  border-bottom: 1px solid $light;
  padding: 0.5rem;
  height: 2rem;
  width: 100%;
  text-align: start;
}

.slot:hover {
  cursor: pointer;
  background: rgba(0,0,255,.05)
}

.booking {
  background: rgba(0,0,0,.1);
  position: absolute;
  width: 100%;
  padding: 0.5rem;
  height: 2rem;
  text-align: center;
  cursor: not-allowed;
  color: $neutral;
  font-size: 1rem;
  font-weight: 300;
  line-height: 0.9rem;
}

.my-booking {
  background: rgba(32, 193, 199, 0.5);
  position: absolute;
  width: 100%;
  padding: 0.5rem;
  height: 2rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  color: $neutral;
}

#nav {
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: $light;
  padding: 0.75rem;
}

#prev {
  float: left;
}

#next {
  float: right;
}

button {
  color: $success;
  border: none;
}

#date {
  font-weight: 400;
}

input[type=date]{
  font-family: 'nunito', sans-serif;
  font-size: 1rem;
  text-align: center;
  border-radius: 3px;
  border: none;
  padding: 0.25rem;

}

::-webkit-datetime-edit-text { color:$success;}
::-webkit-inner-spin-button { display: none; }