//Values

$value: 16px;


// Typography

$sans-serif: nunito, sans-serif;

// color

$bright: #fbba42;
$neutral: #ffffff;
$success: #20c1c7;
$light: #cacaca;
$warning: tomato;


// screen

$mq-md: 769px;
$mq-l: 960px;